* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.formContainer {
    display: block;
}

.hiddenForm { 
    display: none;
}

/* Card Css */

.read-div {
    border: 1px solid red;
    text-align: center;
}